.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
}

.navbar-nav {
  display: flex;
  flex-direction: row; 
  gap: 30px; 
  list-style: none; 
  padding: 0;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #0056b3;
}


.nav-link.active {
  color: #0056b3;
  border-bottom: 2px solid #007bff;
  padding-bottom: 2px;
}
